src/**
test/**
node_modules/**
!node_modules/typescript/
!node_modules/typescript/**
!node_modules/@typescript/
!node_modules/@typescript/typescript-darwin-arm64/
!node_modules/@typescript/typescript-darwin-arm64/**
!node_modules/@typescript/typescript-darwin-x64/
!node_modules/@typescript/typescript-darwin-x64/**
!node_modules/@typescript/typescript-linux-arm64/
!node_modules/@typescript/typescript-linux-arm64/**
!node_modules/@typescript/typescript-linux-x64/
!node_modules/@typescript/typescript-linux-x64/**
!node_modules/@typescript/typescript-win32-arm64/
!node_modules/@typescript/typescript-win32-arm64/**
!node_modules/@typescript/typescript-win32-x64/
!node_modules/@typescript/typescript-win32-x64/**
.vscode/**
**/*.map
**/*.ts
tsconfig.json
vitest.config.ts
esbuild.mjs
.gitignore
scripts/**
